<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color: blueviolet;">HI HELLO MAMA</h1>
        <h1 style="color: red;">BAGUNNAVA MAMA</h1>
        <h1 style="color: yellowgreen;">EM CHESTUNNAV MAMA</h1>

        <a href="{% url 'chotu' %}"><h2>chotu response</h2></a>

        <a href="{% url 'Ram' %}"><h2>Ram response</h2></a>

        <a href="{% url 'something:Ramesh' %}"><h2>Ramesh response</h2></a>
    </center>
</body>
</html>