<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color: green;">HELLO MAMA</h1>
        <h1 style="color: blue;">SCHOOL KI VELLI VACHINA MAMA</h1>
        <h1 style="color: red;">TINTUNNA MAMA</h1>

        <a href="{% url 'Ram' %}"><h2>Ram response</h2></a>

        <a href="{% url 'something:bittu' %}"><h2>bittu response</h2></a>

        <a href="{% url 'something:Ramesh' %}"><h2>Ramesh response</h2></a>
    </center>
</body>
</html>