<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color: blue;">HII HELLO CHOTU</h1>
        <h1 style="color: red;">WHERE ARE YOU</h1>
        <h1 style="color: green;">DID YOU GO TO SCHOOL OR NOT</h1>

        <a href="{% url 'chotu' %}"><h2>chotu response</h2></a>

        <a href="{% url 'something:bittu' %}"><h2>bittu response</h2></a>

        <a href="{% url 'something:Ramesh' %}"><h2>Ramesh response</h2></a>

    </center>
</body>
</html>