<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color: aqua;">HAA BITTU,CHOTU</h1>
        <h1 style="color: blue;">TINNA MERU TINNARA</h1>
        <h1 style="color: red;">CHADUVUKUNNARA</h1>
        <h1 style="color: crimson;">HOMEWORK CHESARA</h1>

        <a href="{% url 'chotu' %}"><h2>chotu response</h2></a>

        <a href="{% url 'something:bittu' %}"><h2>bittu response</h2></a>

        <a href="{% url 'Ram' %}"><h2>Ram response</h2></a>
    </center>
</body>
</html>